.portfolio
  width: auto
  display: inline-block
  vertical-align: top
  margin-left: 35rem
  padding: 10rem
  height: auto

  p
    font-family: $font-reg
    font-size: 1.8rem

  h2
    font-family: $font-bold
    font-size: 3rem
    margin: 0
    text-transform: uppercase

  h4
    font-family: $font-bold
    font-size: 3rem
    margin-bottom: 0

  &-link
    font-family: $font-reg
    font-size: 1.8rem
    color: $prim-blue

  &-about
    margin-bottom: 5rem

    &-sec

      img
        width: 5rem
        display: inline-block
        margin: 1rem 0 0

      &-info
        display: inline-block
        width: 90%
        vertical-align: top

  &-tgj
    margin-bottom: 5rem

    h2
      display: inline-block
      vertical-align: top
      padding-top: .3rem

    &-logo
      display: inline-block
      width: 3rem
      margin-left: 1.5rem

    &-img
      width: 100%
      margin: 3rem 0 
      border-radius: .5rem
      cursor: pointer

  &-deck
    margin-bottom: 5rem

    &-preview
      width: 90rem
      display: flex
      justify-content: space-between
      margin: 3rem auto

    &-img, &-video
      width: 25rem
      height: 54rem
      display: inline-block
      border-radius: .5rem

    @media screen and (max-width: 765px)
      &-preview
        display: block
        justify-content: none

      &-img, &-video
        display: block
        margin: auto
        width: 40vw!important
        height: 86vw!important
        margin-bottom: 3rem

  @media screen and (min-width: 1685px)
    &-deck
      &-preview
        width: 110rem

      &-img, &-video
        width: 30rem
        height: 65rem

  &-forum
    &-img
      width: 100%
      border: .1rem solid #222
      border-radius: .5rem
      margin: 3rem 0 1.5rem

  &-resume
    margin-top: 2rem
    width: 50rem

    @media screen and (max-width: 765px)
      width: 50vw

  @media screen and (max-width: 1485px)
    padding: 5rem
    width: 60vw
    margin-left: 25rem

    &-deck
      &-preview
        width: auto

      &-img, &-video
        width: 20rem
        height: 43rem

  @media screen and (max-width: 950px)
    width: auto
    margin-left: 2rem

  @media screen and (max-width: 530px)
    padding: 2rem
    margin-left: 2rem

    h2, h4
      font-size: 2rem

    p
      font-size: 1.4rem

    &-link
      font-size: 1.4rem

    &-about
      &-sec
        img
          width: 3rem
        &-info
          width: 100%

    &-tgj
      &-logo
        width: 2rem
        margin-left: .5rem

    &-resume
      width: auto


.bold-font
  font-family: $font-bold