html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "montserratbold";
  src: url("../custom_fonts/montserrat-bold-webfont.woff2") format("woff2"), url("montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratregular";
  src: url("../custom_fonts/montserrat-regular-webfont.woff2") format("woff2"), url("montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratlight";
  src: url("../custom_fonts/montserrat-light-webfont.woff2") format("woff2"), url("montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratthin";
  src: url("../custom_fonts/montserrat-thin-webfont.woff2") format("woff2"), url("montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.portfolio {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-left: 35rem;
  padding: 10rem;
  height: auto;
}
.portfolio p {
  font-family: "montserratlight";
  font-size: 1.8rem;
}
.portfolio h2 {
  font-family: "montserratbold";
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
}
.portfolio h4 {
  font-family: "montserratbold";
  font-size: 3rem;
  margin-bottom: 0;
}
.portfolio-link {
  font-family: "montserratlight";
  font-size: 1.8rem;
  color: #006ce2;
}
.portfolio-about {
  margin-bottom: 5rem;
}
.portfolio-about-sec img {
  width: 5rem;
  display: inline-block;
  margin: 1rem 0 0;
}
.portfolio-about-sec-info {
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.portfolio-about-sec-info p {
  text-align: justify;
}
.portfolio-tgj {
  margin-bottom: 5rem;
}
.portfolio-tgj h2 {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.3rem;
}
.portfolio-tgj-logo {
  display: inline-block;
  width: 3rem;
  margin-left: 1.5rem;
}
.portfolio-tgj-img {
  width: 100%;
  height: 55rem;
  margin: 3rem 0;
  border-radius: 0.5rem;
  background-image: url("../images/tgj_pic.png");
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.portfolio-tgj-img:hover {
  background-image: url("../images/tgj_pic_hover.jpg");
}
.portfolio-deck {
  margin-bottom: 5rem;
}
.portfolio-deck-preview {
  width: 90rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
}
.portfolio-deck-img, .portfolio-deck-video {
  width: 25rem;
  height: 54rem;
  display: inline-block;
  border-radius: 0.5rem;
}
@media screen and (min-width: 1685px) {
  .portfolio-tgj-img {
    height: 70rem;
  }
  .portfolio-deck-preview {
    width: 110rem;
  }
  .portfolio-deck-img, .portfolio-deck-video {
    width: 30rem;
    height: 65rem;
  }
}
.portfolio-forum-img {
  width: 100%;
  border: 0.1rem solid #222;
  border-radius: 0.5rem;
  margin: 3rem 0 1.5rem;
}
.portfolio-resume {
  margin-top: 2rem;
  width: 50rem;
}

.bold-font {
  font-family: "montserratbold";
}

.sidebar {
  width: 35rem;
  height: 100vh;
  position: fixed;
  display: inline-block;
  background-color: #006ce2;
}
.sidebar-logo {
  display: inline-block;
}
.sidebar-logo-github {
  width: 3.5rem;
  margin-right: 2rem;
}
.sidebar-logo-linkedin {
  width: 4.4rem;
}
.sidebar-image {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  margin: 3rem auto 2rem;
  display: block;
  border: 0.8rem solid #fff;
}
.sidebar-category {
  font-size: 3rem;
  font-family: "montserratregular";
  margin: 2rem 0;
  color: #2ff772;
}
.sidebar-header-name {
  font-size: 4rem;
  margin: 0;
  font-family: "montserratbold";
  color: #2ff772;
  text-align: center;
}
.sidebar-header-title {
  font-size: 1.8rem;
  font-family: "montserratregular";
  padding-bottom: 3rem;
  position: relative;
  margin: 1rem auto 0;
  color: #fff;
  width: 80%;
}
.sidebar-header-title:before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  height: 0.1rem;
  width: 30%;
  border-bottom: 0.2rem solid #fff;
}
.sidebar-links {
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 2.5rem;
}
.sidebar-links ul {
  padding: 0;
}
.sidebar-links ul li {
  display: block;
  margin: 0.7rem 0;
}
.sidebar-links ul a {
  color: #fff;
  font-family: "montserratregular";
  font-size: 1.8rem;
  text-transform: uppercase;
}
.sidebar-links ul a:hover {
  color: #2ff772;
}
.sidebar-links:before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  height: 0.1rem;
  width: 30%;
  border-bottom: 0.2rem solid #fff;
}
.sidebar-contact {
  width: 80%;
  margin: auto;
}
.sidebar-contact-info {
  color: #fff;
  font-size: 1.8rem;
  font-family: "montserratregular";
  margin: 1rem 0;
}

.material-icons {
  color: #fff;
  font-size: 3rem !important;
}

/*# sourceMappingURL=style.css.map */
